mixin header()
  +b.HEADER.header&attributes(attributes)
    .container-fluid.px-xl-100
      nav.navbar.flex-nowrap.py-41.pe-12
        if pageType === 'index'
          +logo
        else
          +logo()(href="/")
        +contacts
