extends ../../layouts/default

block head
  - var pageTitle = 'Карта верстки'

block content
  +b.sitemap
    .container
      +e.A.link(href="index.html") Страница index
      +e.A.link(href="project.html") Страница project