// Свои миксины
// @import 'helpers/custom-mixins';

// Подключаем шрифты
@import 'helpers/fonts';

// Configuration for bootstrap
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
// Переопределение переменных из bootstrap
@import 'helpers/custom-variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';
// Переопределение и создаем свои утилиты на базе bootstrap
@import 'helpers/custom-utilities';

// Layout & components from bootstrap
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/images';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';
// @import '../../node_modules/bootstrap/scss/tables';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/transitions';
// @import '../../node_modules/bootstrap/scss/dropdown';
// @import '../../node_modules/bootstrap/scss/button-group';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
// @import '../../node_modules/bootstrap/scss/card';
// @import '../../node_modules/bootstrap/scss/accordion';
// @import '../../node_modules/bootstrap/scss/breadcrumb';
// @import '../../node_modules/bootstrap/scss/pagination';
@import '../../node_modules/bootstrap/scss/badge';
@import '../../node_modules/bootstrap/scss/alert';
// @import '../../node_modules/bootstrap/scss/progress';
@import '../../node_modules/bootstrap/scss/list-group';
@import '../../node_modules/bootstrap/scss/close';
@import '../../node_modules/bootstrap/scss/toasts';
@import '../../node_modules/bootstrap/scss/modal';
@import '../../node_modules/bootstrap/scss/tooltip';
@import '../../node_modules/bootstrap/scss/popover';
// @import '../../node_modules/bootstrap/scss/carousel';
@import '../../node_modules/bootstrap/scss/spinners';

// Helpers for bootstrap
@import '../../node_modules/bootstrap/scss/helpers';

// Utilities for bootstrap
@import '../../node_modules/bootstrap/scss/utilities/api';

// Свои стили
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.js-sr {
  visibility: hidden;
}

.ff-2 {
  font-family: $font-family-aditional;
}

body {
  letter-spacing: -.035em;
}

a {
  transition: opacity .15s ease-in-out, color .15s ease-in-out;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.045em;
}

.ls-45 {
  letter-spacing: -.045em;
}

.ls-35 {
  letter-spacing: -.035em;
}

.ls-0 {
  letter-spacing: normal;
}

.lh-17 {
  line-height: 1.7;
}

.lh-14 {
  line-height: 1.4;
}

.lh-13 {
  line-height: 1.3;
}

.lh-111 {
  line-height: 1.11;
}

.next-arrow {
  width: 2.3125rem;
  height: 1rem;
  fill: url('#gradient-arrow');
  transform-origin: 50% 50%;
  transition: transform .15s ease-in-out;

  a:hover &, button:hover & {
    transform: translate3d(5px, 0, 0);
  }
}

.back-icon {
  width: 1.625rem;
  height: 1rem;
  fill: currentColor;
  transform-origin: 50% 50%;
  transition: transform .15s ease-in-out;

  a:hover &, button:hover & {
    transform: translate3d(-5px, 0, 0);
  }
}
