.application-item {
  display: block;
}

.application-link {
  display: inline-block;
  height: 4.376rem;
  transition: opacity .15s ease-in-out;

  &:hover {
    opacity: .7;
  }

  img {
    display: block;
    font-size: 0;
    line-height: 0;
    max-height: 100%;
    width: auto;
  }
}
