.application-item {
  display: block;
}

.applications-link {
  display: inline-block;
  height: 4.376rem;

  img {
    display: block;
    font-size: 0;
    line-height: 0;
    max-height: 100%;
    width: auto;
  }
}
