mixin applications()
  UL.applications.list-unstyled.d-flex&attributes(attributes)
    li.applications-item.me-35.py-15
      a.application-link(href="#")
        img(src="assets/images/app-store.png" alt="@@" width="200" height="70")
    li.applications-item.me-35.py-15
      a.application-link(href="#")
        img(src="assets/images/google-pay.png" alt="@@" width="235" height="70")
    block
