mixin features()
  .features.row.row-cols-3&attributes(attributes)
    each item in getData('features.json')
      a.features-item.col.d-block
        img(src=item.src alt="@@")
        span!=item.describe
    div.features-item.col.d-block
      a.link-dark(href="project.html") Lasīt vairāk par Pilotprojektu
        +icon('next').next-arrow(width="37" height="16")
    block
