.footer {
  display: block;

  .navbar {
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      right: 0;
      background-image: $gradient;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }
  }
}
