mixin footer()
  +b.FOOTER.footer&attributes(attributes)
    block
    .container-fluid.px-xl-100
      nav.navbar.flex-nowrap.py-58
        if pageType === 'index'
          +logo
        else
          +logo()(href="/")
        +note.mb-0.mx-auto Uz doto brīdi sistēma atrodas izstādes stadijā un pilotprojektā ir pieejama tikai elektroniskās aptaujas funkcionalitāte mobilā lietotnē
        +contacts(true).ms-16
