.bg-gradient {
  border-left-color: #fcbe26;
  border-right-color: #09e1ff;
}

.btn-circle {
  width: 2.875rem;
}

.btn-sm-circle {
  width: 1.875rem;
}

.btn-lg-circle {
  width: 3.75rem;
}

.btn-xl {
  height: 4.0625rem;
}

.btn-xl-circle {
  width: 4.0625rem;
}

.btn-gradient-border {
  border-image-slice: 22 !important;
  border-image-width: 22px !important;
  border-image-outset: 0 0 0 0 !important;
  border-image-repeat: stretch stretch !important;
  border-image-source: url('../images/gradient-border-btn.svg') !important;
}

.btn-gradient-border-xl {
  border-image-slice: 31 !important;
  border-image-width: 31px !important;
  border-image-outset: 0 0 0 0 !important;
  border-image-repeat: stretch stretch !important;
  border-image-source: url('../images/gradient-border-circle-65.svg') !important;
}
