mixin contacts(isSocial)
  +b.d-flex.align-items-center&attributes(attributes)
    p.navbar-text.mb-0.fs-6.ff-2.fw-bold Kontakti
    ul.navbar-nav.flex-row.ps-13
      li.nav-item.ms-25
        +button().btn-circle.px-1.btn-gradient-border.rounded-circle.text-uppercase(href="#") LV
      li.nav-item.ms-25
        +button().btn-gradient-border.rounded-pill.px-36(href="#") Ienākt
    if isSocial
      +socials.ps-23
    block
