// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret:                true;
$enable-rounded:              true;
$enable-shadows:              false;
$enable-gradients:            false;
$enable-transitions:          true;
$enable-reduced-motion:       true;
$enable-smooth-scroll:        true;
$enable-grid-classes:         true;
$enable-button-pointers:      true;
$enable-rfs:                  true;
$enable-validation-icons:     true;
$enable-negative-margins:     false;
$enable-deprecation-messages: true;
$enable-important-utilities:  true;

$yellow: #fcbe26;
$teal: #28ec8d;
$cyan: #09e1ff;
$dark: #1f2327;
$heather: #b7c1cd;
$placeholder: #9ea6b0;
$pink: #f1a298;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$custom-colors: (
  'heather': $heather,
  'placeholder': $placeholder,
  'candlelight': #ffd80e,
  'supernova': #ffc906,
  'pink': $pink,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$color-contrast-dark: $dark;
$color-contrast-light: $white;

// Gradient
//
// The gradient which is added to components if `$enable-gradients` is `true`
// This gradient is also added to elements with `.bg-gradient`
// scss-docs-start variable-gradient
$gradient: linear-gradient(90deg, #fcbe26 7.08%, #b4ed3a 38.05%, #28ec8d 65.64%, #09e1ff 100%);
// scss-docs-end variable-gradient

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $dark;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1720px
);
// scss-docs-end container-max-widths

$spacer: 1.25rem; // 20px;

$spacers: (
  0: 0,
  1: $spacer / 4, // 5px;
  2: $spacer / 2, // 10px;
  3: $spacer, // 20px;
  4: $spacer * 1.5, // 30px;
  5: $spacer * 3, // 60px;
);

$custom-spacers: (
  12: $spacer * 0.6,
  13: $spacer * 0.65,
  15: $spacer * 0.75,
  16: $spacer * 0.8,
  22: $spacer * 1.1,
  23: $spacer * 1.15,
  24: $spacer * 1.2,
  25: $spacer * 1.25,
  26: $spacer * 1.3,
  30: $spacer * 1.5,
  32: $spacer * 1.6,
  33: $spacer * 1.65,
  35: $spacer * 1.75,
  36: $spacer * 1.8,
  37: $spacer * 1.85,
  38: $spacer * 1.9,
  40: $spacer * 2,
  41: $spacer * 2.05,
  45: $spacer * 2.25,
  46: $spacer * 2.3,
  50: $spacer * 2.5,
  51: $spacer * 2.55,
  52: $spacer * 2.6,
  55: $spacer * 2.75,
  56: $spacer * 2.8,
  58: $spacer * 2.9,
  63: $spacer * 3.15,
  66: $spacer * 3.3,
  68: $spacer * 3.4,
  69: $spacer * 3.45,
  70: $spacer * 3.5,
  72: $spacer * 3.6,
  74: $spacer * 3.7,
  78: $spacer * 3.9,
  80: $spacer * 4,
  82: $spacer * 4.1,
  88: $spacer * 4.4,
  92: $spacer * 4.6,
  93: $spacer * 4.65,
  96: $spacer * 4.8,
  98: $spacer * 4.9,
  100: $spacer * 5,
  104: $spacer * 5.2,
  110: $spacer * 5.5,
  120: $spacer * 6,
  123: $spacer * 6.15,
  125: $spacer * 6.25,
  129: $spacer * 6.45,
  130: $spacer * 6.5,
  138: $spacer * 6.9,
  140: $spacer * 7,
  145: $spacer * 7.25,
  170: $spacer * 8.5,
  178: $spacer * 8.9,
  186: $spacer * 9.3,
  188: $spacer * 9.4,
  200: $spacer * 10,
  218: $spacer * 10.9,
);

$spacers: map-merge($spacers, $custom-spacers);

$grid-gutter-width: 1.25rem;
$gutters: $spacers;

$container-padding-x: $spacer;

$paragraph-margin-bottom: 2.375rem;

// Links
//
// Style anchor elements.

$link-color: $dark;
$link-decoration: none;
$link-shade-percentage:                   20%;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage);

$font-family-sans-serif: 'MuktaVaani', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-aditional: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;

$h1-font-size: $font-size-base * 4.375; // 70px
$h2-font-size: $font-size-base * 2.5; //40px;
$h3-font-size: $font-size-base * 2.1875; // 35px;
$h4-font-size: $font-size-base * 1.5; // 24px;
$h5-font-size: $font-size-base * 1.3125; // 21px;
$h6-font-size: $font-size-base * 1.0625; //17px;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$custom-font-sizes: (
  7: $font-size-base * 1.5625, //25px;
  8: $font-size-base * 1.25,
);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

$line-height-base: 1.5;
$line-height-sm: 1.3;
$line-height-lg: 1.7;

$headings-margin-bottom: $spacer / 2;
$headings-font-weight: 500;
$headings-line-height: 1.12;

$display-font-sizes: (
  1: 4.375rem,
  2: 3.4375rem,
  3: 2.5rem,
  4: 2.1875rem,
  5: 1.75rem,
  6: 1.5rem
);

$display-font-weight: 500;
$display-line-height: $headings-line-height;

// Border

$border-color: $dark;
$border-radius: .25rem;
$border-radius-sm: .2rem;
$border-radius-lg: .3rem;
$border-radius-pill: 2.0625rem;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: $spacer / 2;
$input-btn-padding-x: $spacer / 2;
$input-btn-font-family: $font-family-aditional;
$input-btn-font-size:  $h6-font-size;
$input-btn-line-height: $line-height-sm;

$input-btn-focus-width: .25rem;
$input-btn-focus-color-opacity: .25;
$input-btn-focus-color: rgba($component-active-bg, $input-btn-focus-color-opacity);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm: $spacer / 2;
$input-btn-padding-x-sm: $spacer / 2;
$input-btn-font-size-sm: $font-size-sm;

$input-btn-padding-y-lg:  $spacer * 0.75;
$input-btn-padding-x-lg: $spacer;
$input-btn-font-size-lg: map-get($font-sizes, 8);

$input-btn-border-width: map-get($border-widths, 2);

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-font-family:             $input-btn-font-family;
$btn-font-size:               $input-btn-font-size;
$btn-line-height:             $input-btn-line-height;
$btn-white-space: nowrap; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            $input-btn-padding-y-sm;
$btn-padding-x-sm:            $input-btn-padding-x-sm;
$btn-font-size-sm:            $input-btn-font-size-sm;

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;
$btn-font-size-lg:            $input-btn-font-size-lg;

$btn-border-width:            $input-btn-border-width;

$btn-font-weight:             $font-weight-bold;
$btn-box-shadow: none;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: .65;
$btn-active-box-shadow: none;

$btn-link-color: $link-color;
$btn-link-hover-color: $link-hover-color;
$btn-link-disabled-color: $gray-600;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius-pill;
$btn-border-radius-sm:        $border-radius-pill;
$btn-border-radius-lg:        $border-radius-pill;

$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// Forms
$input-padding-y: 1.0625rem;
$input-padding-x: 1.8125rem;
$input-font-family: $font-family-aditional;
$input-font-size: $h5-font-size;
$input-font-weight: $font-weight-bold;
$input-line-height: 1.375rem;

$input-bg: $white;
$input-disabled-bg: $gray-200;

$input-color: $body-color;
$input-border-color: $dark;
$input-border-width: map-get($border-widths, 2);
$input-box-shadow: none;

$input-border-radius: $border-radius-pill;
$input-border-radius-sm: $border-radius-pill;
$input-border-radius-lg: $border-radius-pill;

$input-focus-bg: $input-bg;
$input-focus-border-color: tint-color($component-active-bg, 50%);
$input-focus-color: $input-color;
$input-focus-width: 0;
$input-focus-box-shadow: none;

$input-placeholder-color: $placeholder;
$input-plaintext-color: $body-color;

$input-height-border:                   $input-border-width * 2 !default;

$input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2) !default;
$input-height-inner-half:               add($input-line-height * .5em, $input-padding-y) !default;
$input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y / 2) !default;

$input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
$input-height-sm:                       add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
$input-height-lg:                       add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Form validation

$form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $form-text-font-size !default;
$form-feedback-font-style:          $form-text-font-style !default;
$form-feedback-valid-color:         $success !default;
$form-feedback-invalid-color:       $danger !default;

$form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
$form-feedback-icon-valid:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !default;
$form-feedback-icon-invalid-color:  $form-feedback-invalid-color !default;
$form-feedback-icon-invalid:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>") !default;

// scss-docs-start form-validation-states
$form-validation-states: (
  "valid": (
    "color": $form-feedback-valid-color,
    "icon": $form-feedback-icon-valid
  ),
  "invalid": (
    "color": $form-feedback-invalid-color,
    "icon": $form-feedback-icon-invalid
  )
) !default;
// scss-docs-end form-validation-states

// Modals

// Padding applied to the modal body
$modal-inner-padding: $spacer;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between: .5rem;

$modal-dialog-margin: $spacer;
$modal-dialog-margin-y-sm-up: $spacer;

$modal-title-line-height:           $line-height-base;

$modal-content-color: $dark;
$modal-content-bg: $white;
$modal-content-border-color: $dark;
$modal-content-border-width: 0;
$modal-content-border-radius:  $border-radius-pill;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width);
$modal-content-box-shadow-xs: none;
$modal-content-box-shadow-sm-up: none;

$modal-backdrop-bg: $black;
$modal-backdrop-opacity: .25;
$modal-header-border-color: $border-color;
$modal-footer-border-color: $modal-header-border-color;
$modal-header-border-width: 0;
$modal-footer-border-width: $modal-header-border-width;
$modal-header-padding-y: $spacer;
$modal-header-padding-x: $modal-inner-padding;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility

$modal-sm: 300px;
$modal-md: 500px;
$modal-lg: 850px;
$modal-xl: 1140px;

$modal-fade-transform: translate(0, -50px);
$modal-transition: transform .3s ease-out;
$modal-scale-transform: scale(1.02);


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: $spacer / 2;
$alert-padding-x: $spacer / 2;
$alert-margin-bottom: 1rem;
$alert-border-radius: $border-radius;
$alert-link-font-weight: $font-weight-bold;
$alert-border-width: 0;

// Close

$btn-close-width: 1.8125rem;
$btn-close-height: $btn-close-width;
$btn-close-padding-x: 0;
$btn-close-padding-y: $btn-close-padding-x;
$btn-close-color: map-get($theme-colors, 'supernova');
$btn-close-bg: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L27 27' stroke='#{$btn-close-color}' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M27 2L2 27' stroke='#{$btn-close-color}' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
$btn-close-focus-shadow: none;
$btn-close-opacity: 1;
$btn-close-hover-opacity: .75;
$btn-close-focus-opacity: .5;
$btn-close-disabled-opacity: .25;
$btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
