mixin modal-video()
  +modal()(tabindex="-1" aria-labelledby="modalFeatureLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-body
          .ratio.ratio-16x9
            iframe(src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen)
    block
