mixin request()
  +form().needs-validation.request(method="POST" action="/" novalidate)
    .row.gy-33.px-63.pt-100.pb-0
      .col-sm-6
        input.form-control(type="text" name="name" placeholder="Nosaukums" required)
        .invalid-feedback No empty field
      .col-sm-6
        input.form-control(type="text" name="contacts" placeholder="Kontaktinformācija (telefons, epasts)" required)
        .invalid-feedback No empty field
      .col-12
        input.form-control(type="text" name="address" placeholder="Mājas adrese (Pilsēta, iela, mājas numurs-korpuss)" required)
        .invalid-feedback No empty field
      .col-12
        input.form-control(type="text" name="position" placeholder="Jūsu loma (Dz. īpašnieks/Mājas vecākais/Pārvaldnieks" required)
        .invalid-feedback No empty field
      .col-12
        input.form-control(type="text" name="date" placeholder="Plānotas aptaujas datums (ja zinams)" required)
        .invalid-feedback No empty field
      .col-12
        textarea.form-control(name="topic" placeholder="Plāntotājs aptaujas tēmats un cita svarīgā informācija" rows="3" required)
        .invalid-feedback No empty field
      .col-12.d-flex.justify-content-center.mt-22
        +button('button').btn-lg.text-nowrap.text-center.bg-gradient.text-white.fw-bolder.mw-(type="submit") Iesniegt
    block
