.request {
  position: relative;
  display: block;

  $b: &;

  .btn {
    margin-top: -2.5px;
    transform: translate3d(0, 50%, 0);
    box-shadow: 0 0 0 .8125rem $white !important;
    width: 52%;
    z-index: 11;
  }
}
