include ../blocks/icon/icon
include ../blocks/button/button
include ../blocks/form/form
include ../blocks/content-zone/content-zone
include ../components/footer/footer
include ../components/header/header
include ../blocks/logo/logo
include ../blocks/page-section/page-section
include ../components/request/request
include ../blocks/alert/alert
include ../blocks/modal/modal
include ../components/modal-feature/modal-feature
include ../components/modal-video/modal-video
include ../blocks/contacts/contacts
include ../blocks/socials/socials
include ../blocks/note/note
include ../blocks/svg-components/svg-components
include ../blocks/applications/applications
include ../blocks/features/features
include ../blocks/media/media
include ../blocks/decorative-frame/decorative-frame
include ../blocks/bg-image/bg-image
include ../blocks/ol-list/ol-list