mixin svg-components()
  +b.SVG.svg-components.visually-hidden&attributes(attributes)
    defs
      linearGradient#gradient-arrow(x1="18" y1="8" x2="18" y2="9" gradientUnits="userSpaceOnUse")
        stop(offset="0" stop-color="#FCBE26")
        stop(offset="0.333333" stop-color="#B4ED3A")
        stop(offset="0.630208" stop-color="#28EC8D")
        stop(offset="1" stop-color="#09E1FF")
    block
