mixin socials()
  UL.socials.d-flex.flex-row.list-unstyled.align-items-center.mb-0&attributes(attributes)
    LI.socials-item.d-block.ms-2
      a.socials-link.d-block(href="#")
        img(src="assets/images/fb.svg" width="32" height="32")
    LI.socials-item.d-block.ms-2
      a.socials-link.d-block(href="#")
        img(src="assets/images/tw.svg" width="32" height="32")
